// ROLL TEXT ANIMATION

.roll 
	&__box 
		position: relative
		overflow: hidden
		display: block
		+md 
			overflow: visible
		span
			display: block
			&::before 
				content: attr(data-text)
				position: absolute
				left: 0
				bottom: 100%
			+md 
				&::before 
					display: none
	@media (hover: hover)
		&:not(:disabled):hover
			.roll 
				&__box 
					span
						animation: rollAnimation .5s cubic-bezier(.16,.03,.08,1.55) .1s forwards


@keyframes rollAnimation
	0%
			transform: translate(0,0)

	to
			transform: translate(0,100%)
	
.link-hover
	border-bottom: 1px solid transparent 
	transition: border-color .2s linear
	&:hover 
		border-bottom-color: #fff