<section class="section  contacts" id="contacts">
  <div class="container">
    <div class="contacts__wrap">
      <div class="contacts__wrap-left">
        <h2 class="section__title ">let's Work Together</h2>
        <ul class="contacts__list list-arrow">
          <li>Respond within a day</li>
          <li>Intro call to sync</li>
          <li>Proposal within 2-3 days</li>
        </ul>

        <div class="contacts__text hidden-mdl">
          Don't want to fill out the form? <br>Then contact us by email <a href="mailto:hi@focusreactive.com">hi@focusreactive.com</a></div>
      </div>

      <div class="contacts__wrap-right">
        <form action="#" class="contacts-form">
          <div class="contacts-form__wrap">
            <div class="contacts-form__item contacts-form__item--span-1">
              <input type="text" placeholder="Your Name" name="name" class="form-input" />
            </div>
            <div class="contacts-form__item contacts-form__item--span-1">
              <input type="email" placeholder="Email" name="email" class="form-input" />
            </div>
            <div class="contacts-form__item">
              <label class="form-label">Subject</label>

              <div class="contacts-form__checklist">
                <label class="checkbox-button">
                  <input type="checkbox" />
                  <span>Next.JS development</span>
                </label>
                <label class="checkbox-button">
                  <input type="checkbox" />
                  <span>CMS Development</span>
                </label>
                <label class="checkbox-button">
                  <input type="checkbox" />
                  <span>eCommerce Development</span>
                </label>
                <label class="checkbox-button">
                  <input type="checkbox" />
                  <span>Next.JS Performance Audit</span>
                </label>
                <label class="checkbox-button">
                  <input type="checkbox" />
                  <span>Migration</span>
                </label>
                <label class="checkbox-button">
                  <input type="checkbox" />
                  <span>AI Integration</span>
                </label>
              </div>
            </div>
            <div class="contacts-form__item contacts-form__item--span-1">
              <select class="form-select" data-selectbox-placeholder="Estimated Budjet">
                <option disabled selected value></option>
                <option value="5-10K">5-10K</option>
                <option value="10-50K">10-50K</option>
                <option value="50-100K">50-100K</option>
                <option value="100K+">100K+</option>
              </select>

            </div>
            <div class="contacts-form__item contacts-form__item--span-1">
              <select class="form-select" data-selectbox-placeholder="Timeframe">
                <option disabled selected value></option>
                <option value="5-10K">5-10K</option>
                <option value="10-50K">10-50K</option>
                <option value="50-100K">50-100K</option>
                <option value="100K+">100K+</option>
              </select>
            </div>
            <div class="contacts-form__item">
              <textarea class="form-input" placeholder="Tell us about the project"></textarea>
            </div>
          </div>
          <div class="contacts-form__btn">
            <button class="btn btn--block btn--xl" type="submit" disabled>Send</button>
          </div>
        </form>

        <div class="contacts__text visible-mdl">
          Don't want to fill out the form? <br>Then contact us by email <a href="mailto:hi@focusreactive.com">hi@focusreactive.com</a></div>
      </div>
    </div>
  </div>
</section>