<section class="section feature-work" id="feature-work">
  <div class="container">
    <div class="section__head">
      <h2 class="section__title">Featured Work</h2>
    </div>

    <div class="feature-spoiler" data-spoilers data-spoiler-hover>
      <div class="feature-spoiler__item js-spoiler-item">
        <button class="feature-spoiler__head js-spoiler-head " data-spoller tabindex="0">
          <span class="feature-spoiler__title">NotSoApe</span>
          <span class="feature-spoiler__tags">
            <span class="feature-spoiler__tag">CMS</span>
          </span>
        </button>
        <div class="feature-spoiler__body js-spoiler-body" role="region">
          <a href="#" class="feature-spoiler__link"><span>NotSoApe</span></a>

          <div class="feature-spoiler__right">
            <img src="/assets/img/feature-work-img-5.webp" alt="NotSoApe" />
          </div>
          <div class="feature-spoiler__left">
            <div class="feature-spoiler__info">
              <div class="feature-spoiler__label">Industry</div>
              <div class="feature-spoiler__text">IT Services & Consultinig</div>
            </div>

            <div class="feature-spoiler__info">
              <div class="feature-spoiler__label">Technical Stack</div>
              <div class="feature-spoiler__text">Storyblok</div>
              <div class="feature-spoiler__text">Next.JS</div>
              <div class="feature-spoiler__text">Vercel</div>
            </div>

            <div class="feature-spoiler__info">
              <div class="feature-spoiler__label">Scope of Work</div>
              <div class="feature-spoiler__text">Design</div>
              <div class="feature-spoiler__text">Website development</div>
              <div class="feature-spoiler__text">Maintenance</div>
            </div>

          </div>
        </div>
      </div>


      <div class="feature-spoiler__item js-spoiler-item ">
        <button class="feature-spoiler__head js-spoiler-head is-active" tabindex="0" aria-controls="spoiler-easy-park">
          <span class="feature-spoiler__title">EasyPark</span>
          <span class="feature-spoiler__tags">
            <span class="feature-spoiler__tag">Ecommerce</span>
          </span>
        </button>
        <div class="feature-spoiler__body js-spoiler-body" role="region">
          <a href="#" class="feature-spoiler__link"><span>EasyPark</span></a>

          <div class="feature-spoiler__right">
            <img src="/assets/img/feature-work-img-1.webp" alt="EasyPark" />
          </div>
          <div class="feature-spoiler__left">
            <div class="feature-spoiler__info">
              <div class="feature-spoiler__label">Industry</div>
              <div class="feature-spoiler__text">IT Services & Consultinig</div>
            </div>

            <div class="feature-spoiler__info">
              <div class="feature-spoiler__label">Technical Stack</div>
              <div class="feature-spoiler__text">Storyblok</div>
              <div class="feature-spoiler__text">Next.JS</div>
              <div class="feature-spoiler__text">Vercel</div>
            </div>

            <div class="feature-spoiler__info">
              <div class="feature-spoiler__label">Scope of Work</div>
              <div class="feature-spoiler__text">Design</div>
              <div class="feature-spoiler__text">Website development</div>
              <div class="feature-spoiler__text">Maintenance</div>
            </div>

          </div>
        </div>
      </div>

      <div class="feature-spoiler__item js-spoiler-item">
        <button class="feature-spoiler__head js-spoiler-head" tabindex="0">
          <span class="feature-spoiler__title">GitNation</span>
          <span class="feature-spoiler__tags">
            <span class="feature-spoiler__tag">Mobile App</span>
          </span>
        </button>
        <div class="feature-spoiler__body js-spoiler-body" role="region">
          <a href="#" class="feature-spoiler__link"><span>GitNation</span></a>

          <div class="feature-spoiler__right">
            <img src="/assets/img/feature-work-img-4.webp" alt="GitNation" />
          </div>
          <div class="feature-spoiler__left">
            <div class="feature-spoiler__info">
              <div class="feature-spoiler__label">Industry</div>
              <div class="feature-spoiler__text">IT Services & Consultinig</div>
            </div>

            <div class="feature-spoiler__info">
              <div class="feature-spoiler__label">Technical Stack</div>
              <div class="feature-spoiler__text">Storyblok</div>
              <div class="feature-spoiler__text">Next.JS</div>
              <div class="feature-spoiler__text">Vercel</div>
            </div>

            <div class="feature-spoiler__info">
              <div class="feature-spoiler__label">Scope of Work</div>
              <div class="feature-spoiler__text">Design</div>
              <div class="feature-spoiler__text">Website development</div>
              <div class="feature-spoiler__text">Maintenance</div>
            </div>

          </div>
        </div>
      </div>

      <div class="feature-spoiler__item js-spoiler-item">
        <button class="feature-spoiler__head js-spoiler-head" tabindex="0">
          <span class="feature-spoiler__title">Secret Escapes</span>
          <span class="feature-spoiler__tags">
            <span class="feature-spoiler__tag">Ecommerce</span>
          </span>
        </button>
        <div class="feature-spoiler__body js-spoiler-body" role="region">
          <a href="#" class="feature-spoiler__link"><span>Secret Escapes</span></a>

          <div class="feature-spoiler__right">
            <img src="/assets/img/feature-work-img-3.webp" alt="Secret Escapes" />
          </div>
          <div class="feature-spoiler__left">
            <div class="feature-spoiler__info">
              <div class="feature-spoiler__label">Industry</div>
              <div class="feature-spoiler__text">IT Services & Consultinig</div>
            </div>

            <div class="feature-spoiler__info">
              <div class="feature-spoiler__label">Technical Stack</div>
              <div class="feature-spoiler__text">Storyblok</div>
              <div class="feature-spoiler__text">Next.JS</div>
              <div class="feature-spoiler__text">Vercel</div>
            </div>

            <div class="feature-spoiler__info">
              <div class="feature-spoiler__label">Scope of Work</div>
              <div class="feature-spoiler__text">Design</div>
              <div class="feature-spoiler__text">Website development</div>
              <div class="feature-spoiler__text">Maintenance</div>
            </div>

          </div>
        </div>
      </div>

      <div class="feature-spoiler__item js-spoiler-item">
        <button class="feature-spoiler__head js-spoiler-head" tabindex="0">
          <span class="feature-spoiler__title">Caleffi</span>
          <span class="feature-spoiler__tags">
            <span class="feature-spoiler__tag">Web Design</span>
          </span>
        </button>
        <div class="feature-spoiler__body js-spoiler-body" role="region">
          <a href="#" class="feature-spoiler__link"><span>Caleffi</span></a>

          <div class="feature-spoiler__right">
            <img src="/assets/img/feature-work-img-2.webp" alt="Caleffi" />
          </div>
          <div class="feature-spoiler__left">
            <div class="feature-spoiler__info">
              <div class="feature-spoiler__label">Industry</div>
              <div class="feature-spoiler__text">IT Services & Consultinig</div>
            </div>

            <div class="feature-spoiler__info">
              <div class="feature-spoiler__label">Technical Stack</div>
              <div class="feature-spoiler__text">Storyblok</div>
              <div class="feature-spoiler__text">Next.JS</div>
              <div class="feature-spoiler__text">Vercel</div>
            </div>

            <div class="feature-spoiler__info">
              <div class="feature-spoiler__label">Scope of Work</div>
              <div class="feature-spoiler__text">Design</div>
              <div class="feature-spoiler__text">Website development</div>
              <div class="feature-spoiler__text">Maintenance</div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>