<footer class="footer" role="contentinfo">
	<div class="container">
		<div class="footer__top">
			<div class="footer__top-row">
				<div class="footer__top-item">
					<div class="footer__logo">
						<img src="assets/img/fr-logo-footer.svg" alt="Focus Reactive logo" width="716" height="244">
					</div>
				</div>
				<div class="footer__top-item">
					<div class="footer__nav">
						<div class="footer__nav-item">
							<h4 class="footer__title">Company</h4>
							<nav aria-label="Company navigation">
								<ul class="footer__list">
									<li class="footer__list-item">
										<a href="#" class="footer__list-link roll">
											<span class="roll__box">
												<span data-text="About">About</span>
											</span>
										</a>
									</li>
									<li class="footer__list-item">
										<a href="#" class="footer__list-link roll">
											<span class="roll__box">
												<span data-text="Portfolio">Portfolio</span>
											</span>
										</a>
									</li>
									<li class="footer__list-item">
										<a href="#" class="footer__list-link roll">
											<span class="roll__box">
												<span data-text="Blog">Blog</span>
											</span>
										</a>
									</li>
									<li class="footer__list-item">
										<a href="#" class="footer__list-link roll">
											<span class="roll__box">
												<span data-text="Careers">Careers</span>
											</span>
										</a>
									</li>
									<li class="footer__list-item">
										<a href="#" class="footer__list-link roll">
											<span class="roll__box">
												<span data-text="Contact Us">Contact Us</span>
											</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
						<div class="footer__nav-item">
							<h4 class="footer__title">Services</h4>
							<nav aria-label="Services navigation">
								<ul class="footer__list">
									<li class="footer__list-item">
										<a href="#" class="footer__list-link roll">
											<span class="roll__box">
												<span data-text="Headless CMS">Headless CMS</span>
											</span>
										</a>
									</li>
									<li class="footer__list-item">
										<a href="#" class="footer__list-link roll">
											<span class="roll__box">
												<span data-text="Headless Commerce">Headless Commerce</span>
											</span>
										</a>
									</li>
									<li class="footer__list-item">
										<a href="#" class="footer__list-link roll">
											<span class="roll__box">
												<span data-text="Next.JS">Next.JS</span>
											</span>
										</a>
									</li>
									<li class="footer__list-item">
										<a href="#" class="footer__list-link roll">
											<span class="roll__box">
												<span data-text="AI & Integrations">AI & Integrations</span>
											</span>
										</a>
									</li>
									<li class="footer__list-item">
										<a href="#" class="footer__list-link roll">
											<span class="roll__box">
												<span data-text="Design (Habitat)">Design (Habitat)</span>
											</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				<div class="footer__top-item">
					<p class="footer__description">We build Composable Content Systems. Fast and Scalable.</p>
				</div>
				<div class="footer__top-item">
					<ul class="social-list social-list--lg">
						<li class="social-list__item">
							<a href="#" class="social-list__link" aria-label="Twitter / X">X</a>
						</li>
						<li class="social-list__item">
							<a href="#" class="social-list__link" aria-label="LinkedIn">LI</a>
						</li>
						<li class="social-list__item">
							<a href="#" class="social-list__link" aria-label="Facebook">FB</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container">
			<div class="footer__bottom-row">
				<div class="footer__bottom-info">
					<div class="copyright">&#169; 2025 FocusReactive</div>
					<div class="footer__locations">London, Amsterdam, Warsaw, Remote.</div>
				</div>
				<div class="footer__reviews">
					<img src="assets/img/footer-reviews.png" alt="Customer reviews" width="117" height="40">
				</div>
			</div>
		</div>
	</div>
</footer>