<header class="header" role="banner">
  <div class="header__container container ">
    <a href="/" class="header__logo">
      <img src="/assets/img/fr-logo.svg" alt="Focus Reactive logo" />
    </a>

    <nav class="header__nav" role="navigation">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link header__nav-link--dropdown">Services</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Technologies</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link header__nav-link--dropdown">Our Works</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Careers</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">About</a>
        </li>
      </ul>

      <a href="#" class="header__btn btn">
        Contact Us
      </a>
    </nav>
  </div>
</header>