<header class="header" role="banner">
	<div class="header__container container ">
		<a href="/" class="header__logo">
			<img src="assets/img/fr-logo.svg" alt="Focus Reactive logo" width="160" height="55">
		</a>

		<nav class="header__nav js-main-nav" role="navigation">
			<ul class="header__nav-list">
				<li class="header__nav-item header__nav-item--current">
					<a href="#" class="header__nav-link roll">
						<span class="roll__box">
							<span data-text="Home">Home</span>
						</span>
					</a>
				</li>
				<li class="header__nav-item">
					<a href="#" class="header__nav-link roll">
						<span class="roll__box">
							<span data-text="Services">Services</span>
						</span>
					</a>
				</li>
				<li class="header__nav-item">
					<a href="#" class="header__nav-link roll">
						<span class="roll__box">
							<span data-text="Portfolio">Portfolio</span>
						</span>
					</a>
				</li>
				<li class="header__nav-item">
					<a href="#" class="header__nav-link roll">
						<span class="roll__box">
							<span data-text="About">About</span>
						</span>
					</a>
				</li>
				<li class="header__nav-item">
					<a href="#" class="header__nav-link roll">
						<span class="roll__box">
							<span data-text="Blog">Blog</span>
						</span>
					</a>
				</li>
				<li class="header__nav-item visible-md">
					<a href="#contacts" class="header__nav-link roll js-scrollToSection">
						<span class="roll__box">
							<span data-text="Contact Us">Contact Us</span>
						</span>
					</a>
				</li>
			</ul>
			<ul class="social-list visible-md">
				<li class="social-list__item">
					<a href="#" class="social-list__link" aria-label="Twitter / X">X</a>
				</li>
				<li class="social-list__item">
					<a href="#" class="social-list__link" aria-label="LinkedIn">LI</a>
				</li>
				<li class="social-list__item">
					<a href="#contacts" class="social-list__link" aria-label="Facebook">FB</a>
				</li>
			</ul>
		</nav>
		<a href="#contacts" class="header__btn btn hidden-md roll js-scrollToSection">
			<span class="roll__box">
				<span data-text="Contact Us">Contact Us</span>
			</span>
		</a>
		<button class="hamburger js-hamburger visible-md" tabindex="0" aria-label="Open main menu" aria-expanded="false">
			<span class="hamburger__line"></span>
			<span class="hamburger__line"></span>
		</button>
	</div>
</header>