<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__title">We build Composable Content Systems.
        <span class="hero__title-accent">Fast and Scalable.</span>
      </h1>

      <p class="hero__text ">From Modular Marketing Websites to AI-enriched content editing experiences. Experts in CMS, eCommerce and SEO.</p>
    </div>

    <div class="hero__footer">
      <a href="#" class="clutch-logo">
        <img src="assets/img/clutch.svg" alt="">
      </a>
      <div class="hero__footer-right">
        <p class="hero__text ">From Modular Marketing Websites to AI-enriched content editing experiences. Experts in CMS, eCommerce and SEO.</p>
        <ul class="social-list">
          <li class="social-list__item">
            <a href="#" class="social-list__link">X</a>
          </li>
          <li class="social-list__item">
            <a href="#" class="social-list__link">LI</a>
          </li>
          <li class="social-list__item">
            <a href="#" class="social-list__link">FB</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>