<section class="section integration" id="integration">
	<div class="container">


		<div class="cms-picture visible-md">
			<img src="assets/img/cms-mobile.png" alt="" role="presentation">
		</div>


		<div class="cms-preview hidden-md">
			<div class="cms-preview__content">
				<div class="cms-preview__scrollbar js-cms-scroll">
					<div class="preview-page js-cms-preview">
						<section class="preview-page__section show js-cms-section" data-label="Hero Section" data-section="1">
							<h2 class="preview-page__title h1" data-label="H1" data-label-blue contenteditable="true">Bespoke
								<br>Modular Website Editing.
								<br>No Devs required.
							</h2>
							<div class="preview-page__btns">
								<a href="#" class="preview-page__btn">Contact Us</a>
								<a href="#" class="preview-page__btn preview-page__btn--link">Learn More</a>
							</div>
						</section>
						<section class="preview-page__section show js-cms-section" data-label="CTA Section" data-section="2">
							<div class="preview-page__card">
								<picture class="preview-page__card-img">
									<img src="assets/img/preview-page-card-img.webp" alt="" role="presentation" />
								</picture>
								<div class="preview-page__card-content">
									<div class="preview-page__card-cat">Who we are</div>
									<h3 class="preview-page__card-title">Experts in Headless
										CMS & Commerce</h3>
									<div class="preview-page__card-text">We help businesses build marketing platforms and content-heavy
										commerce storefronts that perform, scale effortlessly, and give you full control — without relying
										on developers</div>
									<div class="preview-page__card-btns">
										<a href="#" class="preview-page__card-btn">
											Our Projects
											<svg class="icon icon-arrow-top-right" xmlns="http://www.w3.org/2000/svg" width="11" height="11"
												viewBox="0 0 11 11" fill="none">
												<path d="M0 1H10V11" stroke="white" />
												<path d="M9.9999 1L0.588135 10.4118" stroke="white" />
											</svg>
										</a>

									</div>
								</div>
							</div>
						</section>
						<section class="preview-page__section show js-cms-section" data-label="Blog Section" data-section="3">
							<h2 class="preview-page__title" data-label="H2" data-label-blue contenteditable="true">Latest News</h2>
							<div class="preview-page__articles">
								<article class="preview-page__article">
									<picture class="preview-page__article-img">
										<img src="assets/img/preview-page-articles-img-1.svg" alt="" role="presentation" />
									</picture>
									<div class="preview-page__article-cat">Trend</div>
									<h3 class="preview-page__article-title">Why migrating to Webflow to Headless CMS?</h3>
								</article>
								<article class="preview-page__article">
									<picture class="preview-page__article-img">
										<img src="assets/img/preview-page-articles-img-2.svg" alt="" role="presentation" />
									</picture>
									<div class="preview-page__article-cat">Technology</div>
									<h3 class="preview-page__article-title">Best headless CMS for React</h3>
								</article>
								<article class="preview-page__article">
									<picture class="preview-page__article-img">
										<img src="assets/img/preview-page-articles-img-3.svg" alt="" role="presentation" />
									</picture>
									<div class="preview-page__article-cat">News</div>
									<h3 class="preview-page__article-title">FocusReactive has become Vercel Partner</h3>
								</article>
							</div>
						</section>
						<section class="preview-page__section js-cms-section" data-label="Clients Section" data-section="4">
							<h2 class="preview-page__title" data-label="H2" data-label-blue contenteditable="true">Our Clients</h2>
							<div class="preview-page__partners">
								<div class="preview-page__partner">
									<img src="assets/img/preview-page-partners-img-1.svg" alt="" role="presentation" />
								</div>
								<div class="preview-page__partner">
									<img src="assets/img/preview-page-partners-img-2.svg" alt="" role="presentation" />
								</div>
								<div class="preview-page__partner">
									<img src="assets/img/preview-page-partners-img-3.svg" alt="" role="presentation" />
								</div>
								<div class="preview-page__partner">
									<img src="assets/img/preview-page-partners-img-4.svg" alt="" role="presentation" />
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>

			<div class="cms-preview__sidebar cms-panel">

				<div class="cms-panel__header">
					<div class="cms-panel__title">CMS Panel</div>
				</div>

				<div class="cms-panel__main js-drag-container">

					<div class="cms-panel__block js-drag-block show" data-section="1">
						<button class="cms-panel__btn-icon cms-panel__btn-icon--grab js-drag-btn" type="button">
							<svg class="icon icon-menu">
								<use xlink:href="assets/img/sprite.svg#menu"></use>
							</svg>
						</button>
						<div class="cms-panel__block-name">
							<svg class="icon icon-layout">
								<use xlink:href="assets/img/sprite.svg#layout"></use>
							</svg>
							<span>Hero</span>
						</div>
						<button class="cms-panel__btn-icon js-cms-delete" type="button">
							<svg class="icon icon-dots">
								<use xlink:href="assets/img/sprite.svg#close"></use>
							</svg>
						</button>
					</div>

					<div class="cms-panel__block js-drag-block show" data-section="2">
						<button class="cms-panel__btn-icon cms-panel__btn-icon--grab js-drag-btn" type="button">
							<svg class="icon icon-menu">
								<use xlink:href="assets/img/sprite.svg#menu"></use>
							</svg>
						</button>
						<div class="cms-panel__block-name">
							<svg class="icon icon-layout">
								<use xlink:href="assets/img/sprite.svg#layout"></use>
							</svg>
							<span>CTA</span>
						</div>
						<button class="cms-panel__btn-icon js-cms-delete" type="button">
							<svg class="icon icon-dots">
								<use xlink:href="assets/img/sprite.svg#close"></use>
							</svg>
						</button>
					</div>

					<div class="cms-panel__block js-drag-block show" data-section="3">
						<button class="cms-panel__btn-icon cms-panel__btn-icon--grab js-drag-btn" type="button">
							<svg class="icon icon-menu">
								<use xlink:href="assets/img/sprite.svg#menu"></use>
							</svg>
						</button>
						<div class="cms-panel__block-item">
							<button class="cms-panel__block-name" type="button" data-dropdown-toggle="#cms-panel-block-dropdown">
								<svg class="icon icon-layout">
									<use xlink:href="assets/img/sprite.svg#layout"></use>
								</svg>
								<span>Blog</span>
								<svg class="icon icon-arrow-down">
									<use xlink:href="assets/img/sprite.svg#arrow-down"></use>
								</svg>
							</button>
							<ul class="cms-panel__block-dropdown js-drag-dropdown-container" id="cms-panel-block-dropdown"
								data-dropdown="false">
								<li class="js-drag-block">
									<button class="cms-panel__btn-icon js-drag-btn cms-panel__btn-icon--grab" type="button">
										<svg class="icon icon-menu">
											<use xlink:href="assets/img/sprite.svg#menu"></use>
										</svg>
									</button>
									<span>Why migrating to Webflow to Headless CMS?</span>
								</li>
								<li class="js-drag-block">
									<button class="cms-panel__btn-icon js-drag-btn cms-panel__btn-icon--grab" type="button">
										<svg class="icon icon-menu">
											<use xlink:href="assets/img/sprite.svg#menu"></use>
										</svg>
									</button>
									<span>Best headless CMS for React</span>
								</li>
								<li class="js-drag-block">
									<button class="cms-panel__btn-icon js-drag-btn cms-panel__btn-icon--grab" type="button">
										<svg class="icon icon-menu">
											<use xlink:href="assets/img/sprite.svg#menu"></use>
										</svg>
									</button>
									<span>FocusReactive has become Vercel Partner</span>
								</li>
							</ul>
						</div>
						<button class="cms-panel__btn-icon js-cms-delete" type="button">
							<svg class="icon icon-dots">
								<use xlink:href="assets/img/sprite.svg#close"></use>
							</svg>
						</button>
					</div>

					<div class="cms-panel__block js-drag-block" data-section="4">
						<button class="cms-panel__btn-icon js-drag-btn" type="button">
							<svg class="icon icon-menu">
								<use xlink:href="assets/img/sprite.svg#menu"></use>
							</svg>
						</button>
						<div class="cms-panel__block-name">
							<svg class="icon icon-layout">
								<use xlink:href="assets/img/sprite.svg#layout"></use>
							</svg>
							<span>Our Clients</span>
						</div>
						<button class="cms-panel__btn-icon js-cms-delete" type="button">
							<svg class="icon icon-dots">
								<use xlink:href="assets/img/sprite.svg#close"></use>
							</svg>
						</button>
					</div>

				</div>

				<div class="cms-panel__footer js-cms-footer">
					<button class="cms-panel__btn" type="button" data-dropdown-toggle="#cms-panel-dropdown">
						<svg class="icon icon-circle-plus">
							<use xlink:href="assets/img/sprite.svg#circle-plus"></use>
						</svg>

						<span>Add New Block</span>
					</button>

					<div id="cms-panel-dropdown" class="cms-panel__dropdown" data-dropdown="false">
						<ul class="cms-panel__dropdown-list">
							<li class="cms-panel__dropdown-item" data-section="1">
								<button type="button" class="cms-panel__dropdown-btn">
									<svg class="icon icon-layout">
										<use xlink:href="assets/img/sprite.svg#layout"></use>
									</svg>
									Hero
								</button>
							</li>
							<li class="cms-panel__dropdown-item" data-section="2">
								<button type="button" class="cms-panel__dropdown-btn">
									<svg class="icon icon-layout">
										<use xlink:href="assets/img/sprite.svg#layout"></use>
									</svg>
									CTA
								</button>
							</li>
							<li class="cms-panel__dropdown-item" data-section="3">
								<button type="button" class="cms-panel__dropdown-btn">
									<svg class="icon icon-layout">
										<use xlink:href="assets/img/sprite.svg#layout"></use>
									</svg>
									Blog
								</button>
							</li>
							<li class="cms-panel__dropdown-item show" data-section="4">
								<button type="button" class="cms-panel__dropdown-btn">
									<svg class="icon icon-layout">
										<use xlink:href="assets/img/sprite.svg#layout"></use>
									</svg>
									Our Clients
								</button>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<button type="button" class="cms-panel__btn-icon cms-preview__toggle js-cms-preview-toggle">
				<svg class="icon icon-layout-sidebar">
					<use xlink:href="assets/img/sprite.svg#layout-sidebar"></use>
				</svg>
			</button>
		</div>

		<div class="integration__section">
			<div class="integration__section-fix js-cms-animTrigger">
				<div class="integration__row">
					<div class="integration__item js-cms-animBlock">
						<div class="integration__item-icon">
							<img src="assets/img/integrate-icon-1.svg" alt="" role="presentation" width="120" height="120">
							<img src="assets/img/integrate-icon-4.svg" alt="" role="presentation" width="120" height="120">
						</div>
						<div class="integration__item-title">
							<div class="integration__item-title-box">
								<span>CRM</span>
								<span>Ecommerce</span>
							</div>
						</div>
					</div>
					<div class="integration__item js-cms-animBlock">
						<div class="integration__item-icon">
							<img src="assets/img/integrate-icon-2.svg" alt="" role="presentation" width="120" height="120">
							<img src="assets/img/integrate-icon-5.svg" alt="" role="presentation" width="120" height="120">
						</div>
						<div class="integration__item-title">
							<div class="integration__item-title-box">
								<span>Analytics</span>
								<span>Aplications</span>
							</div>
						</div>
					</div>
					<div class="integration__item js-cms-animBlock">
						<div class="integration__item-icon">
							<img src="assets/img/integrate-icon-3.svg" alt="" role="presentation" width="120" height="120">
							<img src="assets/img/integrate-icon-6.svg" alt="" role="presentation" width="120" height="120">
						</div>
						<div class="integration__item-title">
							<div class="integration__item-title-box">
								<span>Database</span>
								<span>Multi-Tenant</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h2 class="section__title integration__title">
				<span>Integrate Anything</span>
				<span class="green-color">Ship Everywhere</span>
			</h2>
		</div>
	</div>
</section>