<section class="section our-solutions" id="our-solutions">
  <div class="container">
    <div class="section__head">
      <h2 class="section__title section__title--lg uppercase">Our solutions to kick-start the project</h2>
    </div>

    <div class="our-solutions__list">
      <a href="#" class="our-solutions__list-item">
        <h3 class="our-solutions__list-title">CMS Kit</h3>
        <div class="our-solutions__list-text">Create healthy routines and focus your team on what work should happen next.</div>
        <div class="our-solutions__list-icon">
          <img src="assets/img/cms-kit.svg" alt="CMS Kit" />
        </div>
      </a>

      <a href="#" class="our-solutions__list-item">
        <h3 class="our-solutions__list-title">AI Kit</h3>
        <div class="our-solutions__list-text">Create healthy routines and focus your team on what work should happen next.</div>
        <div class="our-solutions__list-icon">
          <img src="assets/img/ai-kit.svg" alt="AI Kit" />
        </div>
      </a>
    </div>
  </div>
</section>