<section class="section portfolio" id="portfolio">
	<div class="container">
		<div class="portfolio-box">
			<ul class="technologies-tabs__nav portfolio-filter js-filter">
				<li class="technologies-tabs__navitem portfolio-filter__item is-active">
					<button type="button" tabindex="0" class="technologies-tabs__button roll js-filter-btn" data-filter="all">
						<span class="roll__box">
							<span data-text="All Projects">All Projects</span>
						</span>
					</button>
				</li>
				<li class="technologies-tabs__navitem portfolio-filter__item">
					<button type="button" tabindex="0" class="technologies-tabs__button roll js-filter-btn" data-filter="a">
						<span class="roll__box">
							<span data-text="Headless CMS">Headless CMS</span>
						</span>
					</button>
				</li>
				<li class="technologies-tabs__navitem portfolio-filter__item">
					<button type="button" tabindex="0" class="technologies-tabs__button roll js-filter-btn" data-filter="b">
						<span class="roll__box">
							<span data-text="Headless eCommerce">Headless eCommerce</span>
						</span>
					</button>
				</li>
				<li class="technologies-tabs__navitem portfolio-filter__item">
					<button type="button" tabindex="0" class="technologies-tabs__button roll js-filter-btn" data-filter="c">
						<span class="roll__box">
							<span data-text="Next.JS">Next.JS</span>
						</span>
					</button>
				</li>
				<li class="technologies-tabs__navitem portfolio-filter__item">
					<button type="button" tabindex="0" class="technologies-tabs__button roll js-filter-btn" data-filter="d">
						<span class="roll__box">
							<span data-text="AI Integrations">AI Integrations</span>
						</span>
					</button>
				</li>
				<li class="technologies-tabs__navitem portfolio-filter__item">
					<button type="button" tabindex="0" class="technologies-tabs__button roll js-filter-btn" data-filter="e">
						<span class="roll__box">
							<span data-text="Next.JS Audit">Next.JS Audit</span>
						</span>
					</button>
				</li>
			</ul>
			<div class="portfolio-row js-filter-container">
				<a href="#" class="portfolio-item js-filter-card" data-category="e c">
					<div class="portfolio-item__img">
						<div class="portfolio-item__label">Ecommerce</div>
						<img src="assets/img/portfolio/case-1.webp" alt="alt" width="880" height="540">
					</div>
					<div class="portfolio-item__content">
						<div class="portfolio-item__info">
							<div class="portfolio-item__title">NotSoApe </div>
							<p class="portfolio-item__text">We migrated our content to Contentful, significantly enhancing our app's
								capabilities</p>
						</div>
						<div class="portfolio-item__tags">
							<div class="portfolio-item__tags-item">Storyblok</div>
							<div class="portfolio-item__tags-item">Next.JS</div>
							<div class="portfolio-item__tags-item">Vercel</div>
						</div>
					</div>
				</a>
				<a href="#" class="portfolio-item js-filter-card" data-category="b">
					<div class="portfolio-item__img">
						<div class="portfolio-item__label">Ecommerce</div>
						<img src="assets/img/portfolio/case-2.webp" alt="alt" width="880" height="540">
					</div>
					<div class="portfolio-item__content">
						<div class="portfolio-item__info">
							<div class="portfolio-item__title">EasyPark</div>
							<p class="portfolio-item__text">We migrated our content to Contentful, significantly enhancing our app's
								capabilities</p>
						</div>
						<div class="portfolio-item__tags">
							<div class="portfolio-item__tags-item">Storyblok</div>
							<div class="portfolio-item__tags-item">Next.JS</div>
							<div class="portfolio-item__tags-item">Vercel</div>
						</div>
					</div>
				</a>
				<a href="#" class="portfolio-item js-filter-card" data-category="c e">
					<div class="portfolio-item__img">
						<div class="portfolio-item__label">Ecommerce</div>
						<img src="assets/img/portfolio/case-3.webp" alt="alt" width="880" height="540">
					</div>
					<div class="portfolio-item__content">
						<div class="portfolio-item__info">
							<div class="portfolio-item__title">NotSoApe</div>
							<p class="portfolio-item__text">We migrated our content to Contentful, significantly enhancing our app's
								capabilities</p>
						</div>
						<div class="portfolio-item__tags">
							<div class="portfolio-item__tags-item">Storyblok</div>
							<div class="portfolio-item__tags-item">Next.JS</div>
							<div class="portfolio-item__tags-item">Vercel</div>
						</div>
					</div>
				</a>
				<a href="#" class="portfolio-item js-filter-card" data-category="a d">
					<div class="portfolio-item__img">
						<div class="portfolio-item__label">Ecommerce</div>
						<img src="assets/img/portfolio/case-4.webp" alt="alt" width="880" height="540">
					</div>
					<div class="portfolio-item__content">
						<div class="portfolio-item__info">
							<div class="portfolio-item__title">EasyPark</div>
							<p class="portfolio-item__text">We migrated our content to Contentful, significantly enhancing our app's
								capabilities</p>
						</div>
						<div class="portfolio-item__tags">
							<div class="portfolio-item__tags-item">Storyblok</div>
							<div class="portfolio-item__tags-item">Next.JS</div>
							<div class="portfolio-item__tags-item">Vercel</div>
						</div>
					</div>
				</a>
				<a href="#" class="portfolio-item js-filter-card" data-category="b e">
					<div class="portfolio-item__img">
						<div class="portfolio-item__label">Ecommerce</div>
						<img src="assets/img/portfolio/case-5.webp" alt="alt" width="880" height="540">
					</div>
					<div class="portfolio-item__content">
						<div class="portfolio-item__info">
							<div class="portfolio-item__title">NotSoApe NotSoApe </div>
							<p class="portfolio-item__text">We migrated our content to Contentful, significantly enhancing our app's
								capabilities</p>
						</div>
						<div class="portfolio-item__tags">
							<div class="portfolio-item__tags-item">Storyblok</div>
							<div class="portfolio-item__tags-item">Next.JS</div>
							<div class="portfolio-item__tags-item">Vercel</div>
						</div>
					</div>
				</a>
				<a href="#" class="portfolio-item js-filter-card" data-category="c d">
					<div class="portfolio-item__img">
						<div class="portfolio-item__label">Ecommerce</div>
						<img src="assets/img/portfolio/case-6.webp" alt="alt" width="880" height="540">
					</div>
					<div class="portfolio-item__content">
						<div class="portfolio-item__info">
							<div class="portfolio-item__title">EasyPark</div>
							<p class="portfolio-item__text">We migrated our content to Contentful, significantly enhancing our app's
								capabilities</p>
						</div>
						<div class="portfolio-item__tags">
							<div class="portfolio-item__tags-item">Storyblok</div>
							<div class="portfolio-item__tags-item">Next.JS</div>
							<div class="portfolio-item__tags-item">Vercel</div>
						</div>
					</div>
				</a>
				<a href="#" class="portfolio-item js-filter-card" data-category="c a">
					<div class="portfolio-item__img">
						<div class="portfolio-item__label">Ecommerce</div>
						<img src="assets/img/portfolio/case-1.webp" alt="alt" width="880" height="540">
					</div>
					<div class="portfolio-item__content">
						<div class="portfolio-item__info">
							<div class="portfolio-item__title">NotSoApe</div>
							<p class="portfolio-item__text">We migrated our content to Contentful, significantly enhancing our app's
								capabilities</p>
						</div>
						<div class="portfolio-item__tags">
							<div class="portfolio-item__tags-item">Storyblok</div>
							<div class="portfolio-item__tags-item">Next.JS</div>
							<div class="portfolio-item__tags-item">Vercel</div>
						</div>
					</div>
				</a>
				<a href="#" class="portfolio-item js-filter-card" data-category="e a">
					<div class="portfolio-item__img">
						<div class="portfolio-item__label">Ecommerce</div>
						<img src="assets/img/portfolio/case-2.webp" alt="alt" width="880" height="540">
					</div>
					<div class="portfolio-item__content">
						<div class="portfolio-item__info">
							<div class="portfolio-item__title">EasyPark</div>
							<p class="portfolio-item__text">We migrated our content to Contentful, significantly enhancing our app's
								capabilities</p>
						</div>
						<div class="portfolio-item__tags">
							<div class="portfolio-item__tags-item">Storyblok</div>
							<div class="portfolio-item__tags-item">Next.JS</div>
							<div class="portfolio-item__tags-item">Vercel</div>
						</div>
					</div>
				</a>
				<a href="#" class="portfolio-item js-filter-card" data-category="a d">
					<div class="portfolio-item__img">
						<div class="portfolio-item__label">Ecommerce</div>
						<img src="assets/img/portfolio/case-4.webp" alt="alt" width="880" height="540">
					</div>
					<div class="portfolio-item__content">
						<div class="portfolio-item__info">
							<div class="portfolio-item__title">EasyPark</div>
							<p class="portfolio-item__text">We migrated our content to Contentful, significantly enhancing our app's
								capabilities</p>
						</div>
						<div class="portfolio-item__tags">
							<div class="portfolio-item__tags-item">Storyblok</div>
							<div class="portfolio-item__tags-item">Next.JS</div>
							<div class="portfolio-item__tags-item">Vercel</div>
						</div>
					</div>
				</a>
			</div>
			<div class="portfolio-nav">
				<button class="btn btn--gray portfolio__btn roll js-portfolio-show" type="button" tabindex="1">
					<span class="roll__box">
						<span data-text="Show More">Show More</span>
					</span>
				</button>
			</div>
		</div>
	</div>
</section>