<section class="section services" id="services">
  <div class="container">
    <div class="section__head">
      <h2 class="section__title">Services</h2>
    </div>

    <div class="services-spoiler" data-spoilers data-spoiler-hover>
      <a href="#" class="services-spoiler__item js-spoiler-item ">
        <div class="services-spoiler__head js-spoiler-head " tabindex="0">
          <span class="services-spoiler__number">01</span>
          <span class="services-spoiler__title">Marketing platforms</span>
        </div>
        <div class="services-spoiler__body js-spoiler-body" role="region">
          <div class="services-spoiler__text">
            We partner with startups and product companies who believe that design can solve any user problem. We help them to serve their users and get better.
            <div class="services-spoiler__logo">
              <img src="/assets/img/habitat-logo.svg" alt="Services" />
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="services-spoiler__item js-spoiler-item">
        <div class="services-spoiler__head js-spoiler-head " tabindex="0">
          <span class="services-spoiler__number">02</span>
          <span class="services-spoiler__title">Omni-channel content systems</span>
        </div>
        <div class="services-spoiler__body js-spoiler-body" role="region">
          <div class="services-spoiler__text">
            We partner with startups and product companies who believe that design can solve any user problem. We help them to serve their users and get better.
            <div class="services-spoiler__logo">
              <img src="/assets/img/habitat-logo.svg" alt="Services" />
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="services-spoiler__item js-spoiler-item ">
        <div class="services-spoiler__head js-spoiler-head " tabindex="0">
          <span class="services-spoiler__number">03</span>
          <span class="services-spoiler__title">Content-rich ecommerce</span>

        </div>
        <div class="services-spoiler__body js-spoiler-body" role="region">
          <div class="services-spoiler__text">
            We partner with startups and product companies who believe that design can solve any user problem. We help them to serve their users and get better.
            <div class="services-spoiler__logo">
              <img src="/assets/img/habitat-logo.svg" alt="Services" />
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="services-spoiler__item js-spoiler-item ">
        <div class="services-spoiler__head js-spoiler-head " tabindex="0">
          <span class="services-spoiler__number">04</span>
          <span class="services-spoiler__title">NextJS SEO & Performance audits</span>

        </div>
        <div class="services-spoiler__body js-spoiler-body" role="region">
          <div class="services-spoiler__text">
            We partner with startups and product companies who believe that design can solve any user problem. We help them to serve their users and get better.
            <div class="services-spoiler__logo">
              <img src="/assets/img/habitat-logo.svg" alt="Services" />
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="services-spoiler__item js-spoiler-item ">
        <div class="services-spoiler__head js-spoiler-head " tabindex="0">
          <span class="services-spoiler__number">05</span>
          <span class="services-spoiler__title">AI & Advanced Integrations</span>

        </div>
        <div class="services-spoiler__body js-spoiler-body" role="region">
          <div class="services-spoiler__text">
            We partner with startups and product companies who believe that design can solve any user problem. We help them to serve their users and get better.
            <div class="services-spoiler__logo">
              <img src="/assets/img/habitat-logo.svg" alt="Services" />
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="services-spoiler__item js-spoiler-item is-active">
        <div class="services-spoiler__head js-spoiler-head " tabindex="0">
          <span class="services-spoiler__number">06</span>
          <span class="services-spoiler__title">Web Design</span>

        </div>
        <div class="services-spoiler__body js-spoiler-body" role="region">
          <div class="services-spoiler__text">
            We partner with startups and product companies who believe that design can solve any user problem. We help them to serve their users and get better.
            <div class="services-spoiler__logo">
              <img src="/assets/img/habitat-logo.svg" alt="Services" />
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
</section>