<section class="section technologies" id="technologies">
  <div class="container">
    <div class="section__head">
      <h2 class="section__title">Technologies</h2>
    </div>

    <div class="technologies-tabs scrollbar" data-tabs>
      <ul class="technologies-tabs__nav" data-tabs-nav>
        <li class="technologies-tabs__navitem is-active">
          <button type="button" tabindex="0" class="technologies-tabs__button ">Headless CMS</button>
        </li>
        <li class="technologies-tabs__navitem">
          <button type="button" tabindex="0" class="technologies-tabs__button">Ecommerce</button>
        </li>
        <li class="technologies-tabs__navitem">
          <button type="button" tabindex="0" class="technologies-tabs__button">Technologies</button>
        </li>
        <li class="technologies-tabs__navitem">
          <button type="button" tabindex="0" class="technologies-tabs__button">Deployment Platforms</button>
        </li>
      </ul>

      <div class="technologies-tabs__items">
        <div class="technologies-tabs__item is-active" data-tabs-block>
          <div class="technologies-tabs__wrap">
            <a href="#" class="technologies-tabs__wrap-item">
              <span class="technologies-tabs__wrap-label">Partner</span>
              <img src="/assets/img/technologies/sanity-logo.svg" alt="" />
            </a>
            <a href="#" class="technologies-tabs__wrap-item">
              <span class="technologies-tabs__wrap-label">Partner</span>
              <img src="/assets/img/technologies/storyblok-logo.svg" alt="" />
            </a>
            <a href="#" class="technologies-tabs__wrap-item">
              <span class="technologies-tabs__wrap-label">Partner</span>
              <img src="/assets/img/technologies/payload-logo.svg" alt="" />
            </a>
            <a href="#" class="technologies-tabs__wrap-item">
              <img src="/assets/img/technologies/dato-logo.svg" alt="" />
            </a>
            <a href="#" class="technologies-tabs__wrap-item">
              <span class="technologies-tabs__wrap-label">Partner</span>
              <img src="/assets/img/technologies/contentful-logo.svg" alt="" />
            </a>
            <a href="#" class="technologies-tabs__wrap-item">
              <img src="/assets/img/technologies/directus-logo.svg" alt="" />
            </a>

            <a href="#" class="technologies-tabs__wrap-item">
              <span class="technologies-tabs__wrap-label">Partner</span>
              <img src="/assets/img/technologies/builder-logo.svg" alt="" />
            </a>
            <a href="#" class="technologies-tabs__wrap-item">
              <span class="technologies-tabs__wrap-label">Partner</span>
              <img src="/assets/img/technologies/prepr-logo.svg" alt="" />
            </a>
            <a href="#" class="technologies-tabs__wrap-item">
              <img src="/assets/img/technologies/contentful-logo.svg" alt="" />
            </a>
            <a href="#" class="technologies-tabs__wrap-item">
              <img src="/assets/img/technologies/directus-logo.svg" alt="" />
            </a>
          </div>

        </div>
        <div class="technologies-tabs__item" data-tabs-block> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti accusamus a est ab, blanditiis facilis? Fuga explicabo facilis minima quos, unde soluta exercitationem eius veniam voluptatem accusantium temporibus, animi cumque.</div>
        <div class="technologies-tabs__item" data-tabs-block> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti accusamus a est ab, blanditiis facilis? Fuga explicabo facilis minima quos, unde soluta exercitationem eius veniam voluptatem accusantium temporibus, animi cumque.</div>
        <div class="technologies-tabs__item" data-tabs-block> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti accusamus a est ab, blanditiis facilis? Fuga explicabo facilis minima quos, unde soluta exercitationem eius veniam voluptatem accusantium temporibus, animi cumque.</div>
      </div>
    </div>
  </div>
</section>