<section class="section  testimonial" id="testimonial">
  <div class="container">
    <div class="section__head">
      <h2 class="section__title">Our Clients Say</h2>
    </div>


    <div class="swiper testimonial-swiper">
      <div class="swiper-pagination testimonial-swiper__pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="testimonial-item__text">We had the opportunity to work with FocusReactive in a headless ecommerce project that involved using Crystallize, Nextjs, Vercel, and Shipmonk to create a full-features headless storefront with a super fast loading speed and exceptional user experience. We truly enjoyed working with the FocusReactive team: they had excellent communication and organization, and the end product was above our expectations. We are looking forward to engaging the team again in the future!</div>
            <div class="testimonial-item__img">
              <img src="/assets/img/thomas-petersson.webp" alt="" />
            </div>
            <div class="testimonial-item__info">
              <div class="testimonial-item__name">Thomas Petersson</div>
              <div class="testimonial-item__company">Product Manager, BigRiver</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="testimonial-item__text">We had the opportunity to work with FocusReactive in a headless ecommerce project that involved using Crystallize, Nextjs, Vercel, and Shipmonk to create a full-features headless storefront with a super fast loading speed and exceptional user experience. </div>
            <div class="testimonial-item__img">
              <img src="/assets/img/thomas-petersson.webp" alt="" />
            </div>
            <div class="testimonial-item__info">
              <div class="testimonial-item__name">Thomas Petersson</div>
              <div class="testimonial-item__company">Product Manager, BigRiver</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="testimonial-item__text">We had the opportunity to work with FocusReactive in a headless ecommerce project that involved using Crystallize, Nextjs, Vercel, and Shipmonk to create a full-features headless storefront with a super fast loading speed and exceptional user experience. </div>
            <div class="testimonial-item__img">
              <img src="/assets/img/thomas-petersson.webp" alt="" />
            </div>
            <div class="testimonial-item__info">
              <div class="testimonial-item__name">Thomas Petersson</div>
              <div class="testimonial-item__company">Product Manager, BigRiver</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="testimonial-item__text">We had the opportunity to work with FocusReactive in a headless ecommerce project that involved using Crystallize, Nextjs, Vercel, and Shipmonk to create a full-features headless storefront with a super fast loading speed and exceptional user experience. We truly enjoyed working with the FocusReactive team: they had excellent communication and organization </div>
            <div class="testimonial-item__img">
              <img src="/assets/img/thomas-petersson.webp" alt="" />
            </div>
            <div class="testimonial-item__info">
              <div class="testimonial-item__name">Thomas Petersson</div>
              <div class="testimonial-item__company">Product Manager, BigRiver</div>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-swiper__numbers"></div>
    </div>
  </div>
</section>