<section class="section what-you-get" id="what-you-get">
  <div class="container">
    <div class="section__head">
      <h2 class="section__title text-center">What You’ll Get</h2>
    </div>

    <div class="what-you-get__list">
      <div class="what-you-get__list-item">
        <h3 class="what-you-get__list-title">Flexibility</h3>
        <div class="what-you-get__list-text">Web development flexibility means a website can adapt to various devices and user needs.</div>
        <div class="what-you-get__list-icon">
          <img src="/assets/img/what-you-get-img-1.svg" alt="" role="presentation" />
        </div>
      </div>

      <div class="what-you-get__list-item">
        <h3 class="what-you-get__list-title">Performance</h3>
        <div class="what-you-get__list-text">Web development performance is the speed and efficiency of a website's loading and user interactions.</div>
        <div class="what-you-get__list-icon">
          <img src="/assets/img/what-you-get-img-2.svg" alt="" role="presentation" />
        </div>
      </div>
      <div class="what-you-get__list-item">
        <h3 class="what-you-get__list-title">SEO</h3>
        <div class="what-you-get__list-text">SEO enhances a website's visibility on search engines to increase organic traffic.</div>
        <div class="what-you-get__list-icon">
          <img src="/assets/img/what-you-get-img-3.svg" alt="" role="presentation" />
        </div>
      </div>
    </div>
  </div>
</section>