.footer
	width: 100%
	min-width: 320px
	flex-shrink: 0
	background: linear-gradient(180deg, #000 1%, rgba(0, 0, 0, 0) 50.17%, #000 99%), url("../assets/img/footer-bg.webp") no-repeat center center
	background-size: cover
	&__logo 
		margin-bottom: 12px
		img 
			max-width: 716px
			height: auto
		+xl 
			img 
				max-width: 528px
	&__nav 
		display: flex
		gap: 24px
		&-item 
			width: calc(50% - 12px)
	&__top 
		padding-top: 180px
		padding-bottom: 64px
		+xl 
			padding-top: 157px
			padding-bottom: 48px
		&-row 
			display: flex
			justify-content: space-between
			align-items: flex-end
			flex-wrap: wrap
			gap: 111px 24px
			+xl 
				gap: 72px 24px
		&-item 
			width: calc(50% - 12px)
	&__title 
		color: var(--color-light-grey)
		margin-bottom: 35px
		font-weight: 500
		+xl 
			font-size: 16px
			margin-bottom: 25px
	&__list 
		list-style: none
		padding: 0
		margin: 0
		&-item 
			margin-bottom: 13px
			&:last-child
				margin-bottom: 0
			+xl 
				margin-bottom: 8px
		&-link 
			font-size: 32px
			display: block
			width: fit-content
			padding-bottom: 4px
			+xl 
				font-size: 24px
			&:focus-visible
				outline: 2px solid var(--color-accent)
	&__description
			max-width: 358px
			+xl 
				font-size: 16px
				max-width: 310px
	&__bottom 
		padding: 24px 0
		border-top: 1px solid var(--color-light-grey)
		&-row 
			display: flex
			align-items: center
			gap: 24px
	&__locations 
		font-size: 16px
		color: var(--color-light-grey)
	&__reviews 
		margin-left: auto
		max-width: 117px
		img 
			height: auto
			width: 100%


.copyright 
	font-size: 16px
	color: var(--color-light-grey)

